In [13]:
# data read
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

data = pd.read_csv('Data2/breast-cancer-wisconsin.csv', encoding='utf-8')

X = data[data.columns[1:10]]
y = data[['Class']]

# data handling
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y)

scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

from sklearn.neural_network import MLPClassifier 
from sklearn.neural_network import MLPRegressor 

model = MLPClassifier()
model2 = MLPRegressor()

model.fit(X_train, y_train)
model.score(X_train,y_train)

from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param = {'activation' : ['tanh','relu'], 'solver' : ['sgd', 'adam'], 'hidden_layer_sizes' : randint(low=1, high=100)}
search = RandomizedSearchCV(model, param, cv=5, n_iter=10)
search.fit(X_train, y_train)
print(search.best_score_)
search.best_params_

from sklearn.svm import SVC

model = SVC()
model.fit(X_train, y_train)
model.score(X_train, y_train)
model.score(X_test, y_test)

X = X.fillna(X.mean())
X

0.972625166571483

,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1
679,2,1,1,1,2,1,1,1,1
680,5,10,10,3,7,3,8,10,2
681,4,8,6,4,3,4,10,6,1
682,4,8,8,5,4,5,10,4,1